@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-clay { background: #DEAA79 !important; }
.text-clay { color: #DEAA79 !important; }
.bg-cream { background: #FFE6A9 !important; }
.text-cream { color: #FFE6A9 !important; }
.bg-sage { background: #B1C29E !important; }
.text-sage { color: #B1C29E !important; }
.bg-teal { background: #659287 !important; }
.text-teal { color: #659287 !important; }
